.button {
  clip-path: polygon(
    13.156% 98.917%,
    13.156% 98.917%,
    20.172% 98.764%,
    27.187% 98.55%,
    34.201% 98.275%,
    41.214% 97.94%,
    48.226% 97.544%,
    55.236% 97.087%,
    62.245% 96.569%,
    69.252% 95.991%,
    76.256% 95.352%,
    83.258% 94.653%,
    83.258% 94.653%,
    84.546% 94.505%,
    85.847% 94.313%,
    87.147% 94.053%,
    88.432% 93.704%,
    89.688% 93.244%,
    90.902% 92.648%,
    92.058% 91.896%,
    93.142% 90.965%,
    94.142% 89.831%,
    95.042% 88.474%,
    95.042% 88.474%,
    95.519% 87.56%,
    95.941% 86.592%,
    96.315% 85.578%,
    96.644% 84.523%,
    96.934% 83.435%,
    97.19% 82.319%,
    97.416% 81.185%,
    97.618% 80.037%,
    97.801% 78.883%,
    97.969% 77.729%,
    97.969% 77.729%,
    98.697% 71.963%,
    99.263% 66.155%,
    99.668% 60.315%,
    99.912% 54.455%,
    99.994% 48.584%,
    99.915% 42.713%,
    99.675% 36.853%,
    99.272% 31.013%,
    98.709% 25.206%,
    97.983% 19.441%,
    97.983% 19.441%,
    97.739% 17.786%,
    97.466% 16.129%,
    97.155% 14.485%,
    96.799% 12.868%,
    96.389% 11.293%,
    95.918% 9.774%,
    95.378% 8.328%,
    94.762% 6.968%,
    94.06% 5.71%,
    93.266% 4.567%,
    93.266% 4.567%,
    92.297% 3.479%,
    91.261% 2.587%,
    90.169% 1.871%,
    89.029% 1.311%,
    87.851% 0.886%,
    86.646% 0.575%,
    85.422% 0.358%,
    84.189% 0.215%,
    82.958% 0.125%,
    81.736% 0.068%,
    81.736% 0.068%,
    77.766% 0.035%,
    70.883% 0.18%,
    61.849% 0.591%,
    51.428% 1.359%,
    40.38% 2.575%,
    29.469% 4.327%,
    19.457% 6.707%,
    11.107% 9.804%,
    5.18% 13.708%,
    2.438% 18.509%,
    2.438% 18.509%,
    1.654% 24.854%,
    1.102% 32.976%,
    0.802% 42.339%,
    0.773% 52.407%,
    1.034% 62.645%,
    1.605% 72.518%,
    2.505% 81.49%,
    3.753% 89.027%,
    5.37% 94.592%,
    7.373% 97.65%,
    7.373% 97.65%,
    7.912% 98.004%,
    8.465% 98.288%,
    9.031% 98.508%,
    9.607% 98.673%,
    10.191% 98.789%,
    10.78% 98.866%,
    11.374% 98.91%,
    11.968% 98.929%,
    12.562% 98.931%,
    13.154% 98.922%,
    13.156% 98.917%
  );
}

.arrow-button {
  clip-path: polygon(
    12.609% 99.847%,
    12.609% 99.847%,
    19.669% 99.691%,
    26.728% 99.473%,
    33.786% 99.194%,
    40.844% 98.854%,
    47.9% 98.454%,
    54.955% 97.992%,
    62.007% 97.469%,
    69.058% 96.886%,
    76.107% 96.242%,
    83.154% 95.537%,
    83.154% 95.537%,
    84.449% 95.387%,
    85.758% 95.194%,
    87.066% 94.933%,
    88.36% 94.582%,
    89.624% 94.118%,
    90.845% 93.52%,
    92.009% 92.764%,
    93.1% 91.828%,
    94.106% 90.689%,
    95.011% 89.325%,
    95.011% 89.325%,
    95.491% 88.407%,
    95.917% 87.435%,
    96.293% 86.416%,
    96.624% 85.356%,
    96.916% 84.263%,
    97.173% 83.143%,
    97.401% 82.003%,
    97.604% 80.85%,
    97.788% 79.69%,
    97.957% 78.532%,
    97.957% 78.532%,
    98.69% 72.74%,
    99.26% 66.906%,
    99.668% 61.04%,
    99.913% 55.153%,
    99.996% 49.256%,
    99.917% 43.359%,
    99.674% 37.473%,
    99.27% 31.608%,
    98.703% 25.774%,
    97.973% 19.984%,
    97.973% 19.984%,
    97.728% 18.322%,
    97.453% 16.658%,
    97.14% 15.006%,
    96.781% 13.382%,
    96.369% 11.8%,
    95.895% 10.276%,
    95.352% 8.823%,
    94.731% 7.457%,
    94.026% 6.193%,
    93.227% 5.046%,
    93.227% 5.046%,
    92.251% 3.953%,
    91.209% 3.058%,
    90.109% 2.339%,
    88.962% 1.777%,
    87.777% 1.35%,
    86.564% 1.039%,
    85.333% 0.822%,
    84.092% 0.679%,
    82.853% 0.589%,
    81.624% 0.531%,
    81.624% 0.531%,
    77.628% 0.5%,
    70.702% 0.648%,
    61.611% 1.065%,
    51.124% 1.841%,
    40.006% 3.066%,
    29.027% 4.83%,
    18.952% 7.224%,
    10.548% 10.338%,
    4.584% 14.262%,
    1.825% 19.085%,
    1.825% 19.085%,
    1.035% 25.459%,
    0.48% 33.618%,
    0.177% 43.022%,
    0.148% 53.135%,
    0.411% 63.419%,
    0.985% 73.335%,
    1.891% 82.347%,
    3.147% 89.916%,
    4.773% 95.505%,
    6.789% 98.577%,
    6.789% 98.577%,
    7.331% 98.932%,
    7.888% 99.217%,
    8.457% 99.438%,
    9.037% 99.603%,
    9.624% 99.72%,
    10.218% 99.797%,
    10.815% 99.841%,
    11.413% 99.859%,
    12.011% 99.861%,
    12.606% 99.852%,
    12.609% 99.847%
  );
}

.icon-background {
  clip-path: polygon(
    97.457% 69.863%,
    97.457% 69.863%,
    97.867% 68.577%,
    98.246% 66.706%,
    98.587% 64.386%,
    98.882% 61.756%,
    99.124% 58.955%,
    99.305% 56.12%,
    99.418% 53.391%,
    99.456% 50.904%,
    99.411% 48.799%,
    99.276% 47.213%,
    99.276% 47.213%,
    99.043% 45.537%,
    98.747% 43.425%,
    98.389% 40.984%,
    97.968% 38.321%,
    97.482% 35.543%,
    96.931% 32.76%,
    96.315% 30.077%,
    95.633% 27.602%,
    94.883% 25.444%,
    94.066% 23.709%,
    94.066% 23.709%,
    91.967% 20.408%,
    89.685% 17.48%,
    87.228% 14.88%,
    84.607% 12.565%,
    81.83% 10.491%,
    78.908% 8.613%,
    75.85% 6.886%,
    72.666% 5.267%,
    69.365% 3.712%,
    65.956% 2.175%,
    65.956% 2.175%,
    63.943% 1.377%,
    61.97% 0.781%,
    60.038% 0.369%,
    58.146% 0.121%,
    56.295% 0.018%,
    54.484% 0.042%,
    52.714% 0.173%,
    50.985% 0.393%,
    49.297% 0.682%,
    47.649% 1.023%,
    47.649% 1.023%,
    41.828% 2.438%,
    36.409% 4.045%,
    31.364% 5.881%,
    26.667% 7.987%,
    22.29% 10.402%,
    18.205% 13.167%,
    14.385% 16.321%,
    10.802% 19.904%,
    7.429% 23.956%,
    4.238% 28.516%,
    4.238% 28.516%,
    3.414% 30.405%,
    2.697% 33.207%,
    2.087% 36.71%,
    1.588% 40.702%,
    1.199% 44.974%,
    0.922% 49.314%,
    0.76% 53.511%,
    0.712% 57.353%,
    0.781% 60.63%,
    0.968% 63.131%,
    0.968% 63.131%,
    2.263% 68.484%,
    4.73% 73.697%,
    8.194% 78.678%,
    12.479% 83.331%,
    17.41% 87.562%,
    22.813% 91.277%,
    28.511% 94.381%,
    34.329% 96.781%,
    40.093% 98.383%,
    45.627% 99.091%,
    45.627% 99.091%,
    52.87% 99.03%,
    59.73% 98.231%,
    66.179% 96.731%,
    72.188% 94.57%,
    77.729% 91.786%,
    82.776% 88.417%,
    87.3% 84.502%,
    91.273% 80.078%,
    94.668% 75.186%,
    97.457% 69.863%
  );
}
