@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply my-26;
  }
  .container {
    @apply mx-auto;
  }
}

@theme inline {
  --breakpoint-mobile: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;

  --color-yellow: #fedf46;
  --color-darkYellow: #ffce00;
  --color-lightYellow: #fff9e1;
  --color-brightYellow: #fdd733;
  --color-orange: #f86008;
  --color-lightOrange: #fab248;
  --color-offBlack: #110241;
  --color-darkBlue: #033d9a;
  --color-blue: #1a8dc6;
  --color-lightBlue: #c7eaf3;
  --color-iceBlue: #eefcff;
  --color-midGray: #d9d9d9;
  --color-lightGray: #f4f4f4;
  --color-gray: #8e8e8e;
  --color-teal: #00acb6;
  --color-paleTeal: #8bd7e1;
  --color-white: #ffffff;
  --color-off-white: #fff9e1;
  --color-black: #000000;
  --color-red: #d60009;
  --color-lightRed: #d600090d;
  --color-lightPeach: #fff5ef;

  --font-primary: Grandstander, sans-serif;
  --font-secondary: 'Rethink Sans', san-serif, Arial, Helvetica, sans-serif;

  /* font sizes variables */
  --text-extraSmall: 14px;
  --text-small: 16px;
  --text-medium: 20px;
  --text-large: 24px;
  --text-semiHead: 32px;
  --text-head: 48px;
  --text-head-desktop: 96px;

  --filter-yellow: brightness(0) saturate(100%) invert(100%) sepia(26%)
    saturate(6061%) hue-rotate(323deg) brightness(105%) contrast(100%);
  --filter-lightYellow: brightness(0) saturate(100%) invert(98%) sepia(46%)
    saturate(666%) hue-rotate(313deg) brightness(110%) contrast(103%);
  --filter-orange: brightness(0) saturate(100%) invert(43%) sepia(60%)
    saturate(2642%) hue-rotate(357deg) brightness(98%) contrast(99%);
  --filter-lightOrange: brightness(0) saturate(100%) invert(78%) sepia(88%)
    saturate(4092%) hue-rotate(327deg) brightness(113%) contrast(104%);
  --filter-offBlack: brightness(0) saturate(100%) invert(5%) sepia(89%)
    saturate(4934%) hue-rotate(258deg) brightness(78%) contrast(108%);
  --filter-darkBlue: brightness(0) saturate(100%) invert(16%) sepia(50%)
    saturate(5369%) hue-rotate(207deg) brightness(86%) contrast(107%);
  --filter-blue: brightness(0) saturate(100%) invert(45%) sepia(45%)
    saturate(851%) hue-rotate(155deg) brightness(95%) contrast(93%);
  --filter-lightBlue: brightness(0) saturate(100%) invert(90%) sepia(25%)
    saturate(102%) hue-rotate(154deg) brightness(102%) contrast(95%);
  --filter-lightGray: brightness(0) saturate(100%) invert(100%) sepia(54%)
    saturate(73%) hue-rotate(188deg) brightness(112%) contrast(91%);
  --filter-gray: brightness(0) saturate(100%) invert(54%) sepia(4%) saturate(6%)
    hue-rotate(5deg) brightness(105%) contrast(82%);
  --filter-teal: brightness(0) saturate(100%) invert(45%) sepia(54%)
    saturate(2397%) hue-rotate(150deg) brightness(96%) contrast(101%);
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(2%) hue-rotate(295deg) brightness(108%) contrast(101%);
  --filter-black: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(8%)
    hue-rotate(145deg) brightness(97%) contrast(102%);
  --filter-red: brightness(0) saturate(100%) invert(9%) sepia(74%)
    saturate(5568%) hue-rotate(346deg) brightness(120%) contrast(128%);
  --filter-lightRed: brightness(0) saturate(100%) invert(91%) sepia(23%)
    saturate(354%) hue-rotate(334deg) brightness(116%) contrast(106%);
}

body {
  font-family: 'Rethink Sans', san-serif, Arial, Helvetica, sans-serif;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.reviewCardScroll::-webkit-scrollbar {
  width: 6px;
}

.reviewCardScroll::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  border-radius: 4px;
}

.reviewCardScroll::-webkit-scrollbar-track {
  background-color: var(--color-lightOrange);
  border-radius: 4px;
}

/* For correct display of Youtube video */
.aspect-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.aspect-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}